@use "./common.scss" as *;

.pageTitle {
  display: flex;
  align-items: center;
  font-size: 29px;
  font-family: $MontserratAlternates;

  > span {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }

  &.sub {
    line-height: 29px;
    font-size: 22px;
  }

  &.settings {
    font-size: 20px;
    margin-bottom: 0;
  }

  .backButton {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
  }

  // for putting a <ThemeSelect> inside of a page title
  .sort {
    margin-left: auto;
  }
}
