/* a lot of this is still being adapted */
@import "./common.scss";

.prettyinput[readonly] {
  cursor: default;
  border-color: transparent;
  background-color: #eee;
}

.prettyinput,
.prettytextarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
  border: 1px solid hsl(210, 13.8%, 88.6%);
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  // for entering email verify code
  &.code {
    width: 250px;
    display: inline-block;
  }

  &[disabled] {
    background-color: #e9ecef;
  }

  &.invalid {
    border-color: red;
    box-shadow: 0 0 0 0.15rem #ff00883f;
  }

  &:not([readonly]):focus {
    border-color: var(--action);
    outline: 0;
    box-shadow: 0 0 0 0.15rem #0056ff3f;
  }
}

@media (prefers-reduced-motion: reduce) {
  .prettyinput {
    transition: none;
  }
}

.prettyselect {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #dee2e6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .prettyselect {
    transition: none;
  }
}

.prettyselect:focus {
  border-color: var(--action);
  outline: 0;
  box-shadow: 0 0 0 0.15rem #0056ff3f;
}

.prettytextarea {
  min-height: calc(1.5em + 0.75rem + 2px);
}

hr {
  border-color: #eee;
}

.manageField {
  display: block;
  margin-bottom: 10px;
  // label for the input
  div {
    margin-bottom: 2px;
  }
}

.userCard {
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: var(--background-accent-deep-1);
}

.cancelSubscription .prettySubmit {
  margin-top: 10px;
}

.userConnection {
  display: flex;
  align-items: center;
  height: 35px;

  .serviceName {
    margin-right: 5px;
  }

  .prettySubmit {
    height: 35px;
    padding: 0 10px;
  }

  > .details {
    padding: 0 10px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--contrast-background);
    vertical-align: middle;
    color: var(--contrast-text);
    border-radius: 10px;

    .avatar {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  > .delete {
    display: inline-block;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      > svg {
        vertical-align: middle;
        width: 25px;
        height: 25px;
        fill: var(--contrast-background);
        &:hover {
          fill: var(--error);
        }
      }
    }
  }
}

.changeForm {
  padding: 20px 15px;
  border-radius: 10px;
  margin-bottom: 15px;

  .manageField {
    max-width: 400px;
  }

  &.user {
    background-color: var(--background-accent-deep-1);
  }
}

// login/register form
.loginForm {
  margin: auto;
  width: 100%;
  max-width: 450px;
  background-color: var(--background-accent-deep-1);
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 2px;
  padding: 0px 15px;
  height: max-content;

  .formTitle {
    font-family: $MontserratAlternates;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
  }

  // make the actual login form a little taller
  &.login {
    padding-bottom: 2px;

    .formTitle {
      margin: 0 auto;
      padding-top: 20px;
      line-height: 60px;
    }
  }
}

.subscriberMain {
  padding: 15px 3vw;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .first {
    flex-direction: column-reverse;
    align-items: center;
  }

  .loginForm {
    max-width: 500px;
  }
}

.prettyfile::file-selector-button,
.prettySubmit {
  background-color: var(--action);
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
  padding: 0 20px;
  cursor: pointer;
  /* if this is a <button> (prefer <input type="button" */
  border: 0px;
  color: white;
  /* <a> */
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 0 15px;
  height: 38px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem #0056ff3f;
  }

  &.center {
    display: flex;
    margin: 0 auto;
  }
}

.prettySubmit.wide {
  width: 100%;
}

.anchor {
  text-decoration: none;
  display: contents;
}

.prettyfile.inline::file-selector-button .prettyinput.inline {
  width: 100%;
  max-width: 300px;
  display: inline-block;
}

.prettySubmit[disabled],
.prettyfile[disabled]::file-selector-button {
  background-color: #194fb9;
  color: #ccc;
  cursor: default;
}

main > .register {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px 5vw;
  gap: 15px;
  box-sizing: border-box;
  justify-content: center;

  .description {
    width: 100%;
    max-width: 600px;
  }

  .loginForm {
    max-width: 350px;
    flex: none;
    margin: 0;
  }
}

@media (max-width: 700px) {
  main > .register {
    flex-direction: column;
    align-items: center;
    padding: 0;

    .loginForm {
      margin-top: 10px;
      max-width: none;
    }
  }
}

main.pricing {
  width: 100%;
  padding: 25px 5vw;
  padding-bottom: 0;
  gap: 15px;
  box-sizing: border-box;

  .description {
    width: 100%;
  }
}

.tierList {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  > div {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 300px;
    padding: 0 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: var(--background-accent);

    .title,
    .price,
    .description {
      text-align: center;
      font-family: $MontserratAlternates;
    }

    .title {
      white-space: pre;
      font-size: 20px;
      font-weight: 700;
    }

    .price {
      font-size: 17px;
    }

    .description {
      text-align: center;
      white-space: pre;
      font-size: 15px;
    }

    .features {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      > div {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 35px;
        padding: 2px 10px;
        background-color: var(--background-accent-deep-2);
        border-radius: 5px;
        white-space: pre;

        .icon {
          display: contents;

          &.disc svg {
            height: 16px;
          }

          &.ai svg {
            height: 21px;
          }

          svg {
            display: inline-block;
            width: 26px;
            height: 24px;
            vertical-align: middle;
            margin-right: 3px;
          }
        }
      }
    }

    .buy {
      margin-top: auto;

      .prettySubmit {
        font-size: 15px;
        width: 100%;

        // for tiers
        // already purchased
        &[data-owned] {
          background-color: var(--background) !important;
          color: var(--text);
          cursor: not-allowed;
        }
      }
    }
  }
}

.passwordField {
  position: relative;
}

.inline {
  display: inline-block;
}

.passwordField {
  .toggle {
    > svg {
      position: absolute;
      top: 0;
      right: 0;
      margin: auto 0;
      max-width: 20px;
      height: 100%;
      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      fill: #333;
    }
  }

  input[type="password"] ~ .toggle svg:nth-child(1) {
    display: none;
  }

  input[type="text"] ~ .toggle svg:nth-child(2) {
    display: none;
  }
}

.totp_qr,
.totp_secret {
  text-align: center;

  div {
    display: inline;
  }

  img {
    margin: 0 auto;
    height: max-content;
    width: max-content;
  }
}
