---
import SettingsLayout from "@layouts/SettingsLayout.astro";
import ThemeSelect from "@components/ThemeSelect.astro";
import engines from "@lib/engines";
import styles from "@styles/Settings.module.scss";
---

<SettingsLayout>
  <Fragment slot="head">
    <title>Proxy settings</title>
  </Fragment>
  <section>
    <!--
    <div>
      <p>Engine</p>
      <ThemeSelect
        id="proxyEngine"
        class={styles.ThemeSelect}
        options={[
          { name: "Automatic", value: "automatic" },
          { name: "Ultraviolet", value: "ultraviolet" },
          // { name: "rammerhead", value: "Rammerhead" },
        ]}
      />
    </div>
    -->
    <div>
      <p>Mode</p>
      <ThemeSelect
        id="proxyMode"
        class={styles.ThemeSelect}
        options={[
          { name: "Embedded", value: "embedded" },
          { name: "Redirect", value: "redirect" },
          { name: "about:blank", value: "about:blank" },
        ]}
      />
    </div>
    <div>
      <p>Search Engine:</p>
      <ThemeSelect
        class={styles.ThemeSelect}
        id="searchEngine"
        options={engines.map(({ name }, i) => ({
          name,
          value: i.toString(),
        }))}
        value={Astro.locals.searchEngine.toString()}
      />
    </div>
  </section>
</SettingsLayout>
<script>
  import { setSearchEngine } from "@lib/cookies";
  import { getGlobalSettings } from "@lib/storage";

  const globalSettings = getGlobalSettings();

  document.addEventListener("DOMContentLoaded", () => {
    const proxyMode = document.querySelector<HTMLInputElement>("#proxyMode")!;
    proxyMode.value = globalSettings.get("proxyMode");
    proxyMode.addEventListener("change", () => {
      globalSettings.set("proxyMode", proxyMode.value);
    });

    const searchEngine =
      document.querySelector<HTMLInputElement>("#searchEngine")!;
    searchEngine.addEventListener("change", () => {
      setSearchEngine(Number(searchEngine.value));
    });
  });
</script>
