---
import styles from "@styles/Subscriber.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import { getUserPayment } from "@config/apis";

const { user, acc } = Astro.locals;
if (await acc.isBanned()) return acc.toBan();
if (!user) return acc.toLogin();
if (!user.email_verified) return acc.toVerifyEmail();
// check if they paid
const payment = await getUserPayment(user.id);
if (!payment || payment.tier < 1) return Astro.redirect("/pro/tiers?vm", 302);
---

<MainLayout>
  <main class={styles.subscriberMain}>
    <p>virtual browser coming very soon!!</p>
  </main>
</MainLayout>
