---
import themeStyles from "@styles/ThemeElements.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import HolyText from "@components/HolyText.astro";
import HolyLink from "@components/HolyLink.astro";
---

<MainLayout title="Not Found">
  <main class="padded">
    {
      Astro.locals.isMainWebsite && (
        <Fragment slot="head">
          <meta name="description" content="Page not found." />
        </Fragment>
      )
    }
    <h1><HolyText text="The page you are looking for is not available." /></h1>
    <hr />
    <p>
      <HolyText
        text="If you typed in the URL yourself, please double-check the spelling."
      />
      <br />
      <HolyText
        text="If you got here from a link within our site or feel like this is a mistake, please"
      />
      <HolyLink
        class={themeStyles.themeLink}
        href="/contact"
        text="Contact Us."
      />
    </p>
  </main>
</MainLayout>
