---
import themeStyles from "@styles/ThemeElements.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import HolyText from "@components/HolyText.astro";
import HolyLink from "@components/HolyLink.astro";
import { accountsEnabled } from "@config/apis";
---

<MainLayout title="Cookie Policy">
  {
    Astro.locals.isMainWebsite && (
      <Fragment slot="head">
        <meta name="description" content="Holy Unblocker's cookie policy." />
      </Fragment>
    )
  }
  <main class="padded">
    <h1><HolyText text="Cookie Policy" /></h1>
    <p>
      <HolyText
        text="Holy Unblocker uses cookies to set the site theme, save a custom wisp server, save tab cloak settings, and store session information."
      />
    </p>
    {
      accountsEnabled && (
        <>
          <h2>
            <HolyText text="Holy Unblocker Premium" />
          </h2>
          <p>
            <HolyText text="When you sign into your Premium account, you will automatically receive a 'session cookie' which is used to provide premium benefits." />
          </p>
        </>
      )
    }
    <h2><HolyText text="Data Collection" /></h2>
    <p><HolyText text="We do not use cookies to collect your data." /></p>
    <h2><HolyText text="COPPA" /></h2>
    <p>
      <HolyText
        text="Holy Unblocker is COPPA compliant. We do not willingly collect personally identifiable information about anyone who is under 13."
      />
    </p>
    <p>
      <HolyText
        text="If you have any questions about our Cookie Policy, please feel free to "
      />
      <HolyLink
        class={themeStyles.themeLink}
        href="/contact"
        text="Contact Us."
      />
    </p>
  </main>
</MainLayout>
