---
import EncryptionKey from "@components/EncryptionKey.astro";
import HolyText from "@components/HolyText.astro";
import UltravioletScripts from "@components/UltravioletScripts.astro";
import "@fontsource/lato";
import "@fontsource/lato/700.css";
import CompatLayout from "@layouts/CompatLayout.astro";
import "@styles/root.scss";
import "@styles/theme.scss";

Astro.response.headers.set("x-robots-tag", "noindex");
---

<CompatLayout>
  <EncryptionKey />
  <main class="padded"><HolyText text="Ultraviolet is loading..." /></main>
  <UltravioletScripts />
</CompatLayout>
<script>
  import { reportCompatError } from "@lib/compat";
  import { setupServiceWorker, setupBareMux } from "@lib/register-sw";

  console.log(location.href);

  document.addEventListener("DOMContentLoaded", async () => {
    let errorCause: string | undefined;

    try {
      if (!location.pathname.startsWith(__uv$config.prefix!))
        throw new TypeError(
          `register-uv was served on a non-uv path: ${location.pathname}`
        );

      console.log(
        "Destination:",
        __uv$config.decodeUrl!(
          location.pathname.slice(__uv$config.prefix!.length)
        )
      );

      await setupServiceWorker();
      setupBareMux();

      console.log("SW registered");
      setTimeout(() => location.reload(), 500);
    } catch (err) {
      reportCompatError(err, errorCause, "Ultraviolet");
    }
  });
</script>
