---
import "@fontsource/lato";
import "@fontsource/lato/700.css";
import "@styles/root.scss";
import "@styles/theme.scss";
import ClientAPIs from "@components/ClientAPIs.astro";
---

<html lang="en" data-theme={Astro.locals.theme}>
  <head><meta charset="utf-8" /></head>
  <body>
    <main>Ultraviolet is loading...</main>
    <ClientAPIs />
    <script>
      import { reportCompatError } from "@lib/compat";
      import { setupServiceWorker } from "@lib/sw";

      console.log(location.href);

      document.addEventListener("DOMContentLoaded", async () => {
        let errorCause: string | undefined;

        try {
          console.log(
            "Destination:",
            __uv$config.decodeUrl!(
              location.pathname.slice(__uv$config.prefix!.length)
            )
          );

          setupServiceWorker();

          // Register the EpoxyClient transport to be used for network requests
          setTimeout(() => {
            // location.reload();
          }, 1e3);
        } catch (err) {
          reportCompatError(err, errorCause, "Ultraviolet");
        }
      });
    </script>
  </body>
</html>
