---
import "@fontsource/lato";
import "@fontsource/lato/700.css";
import "@styles/root.scss";
import "@styles/theme.scss";

Astro.response.headers.set("x-robots-tag", "noindex");
---

<html lang="en" data-theme={Astro.locals.theme}>
  <head
    ><meta charset="utf-8" />
    <script src="/uv/uv.bundle.js" is:inline defer></script>
    <script src="/uv/uv.config.js" is:inline defer></script>
  </head>
  <body>
    <main>Ultraviolet is loading...</main>
    <script>
      import { reportCompatError } from "@lib/compat";
      import { setupServiceWorker } from "@lib/sw";

      console.log(location.href);

      document.addEventListener("DOMContentLoaded", async () => {
        let errorCause: string | undefined;

        try {
          console.log(
            "Destination:",
            __uv$config.decodeUrl!(
              location.pathname.slice(__uv$config.prefix!.length)
            )
          );

          await setupServiceWorker();

          location.reload();
        } catch (err) {
          reportCompatError(err, errorCause, "Ultraviolet");
        }
      });
    </script>
  </body>
</html>
