---
import themeStyles from "@styles/ThemeElements.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import HolyText from "@components/HolyText.astro";
import HolyLink from "@components/HolyLink.astro";
---

<MainLayout title="Terms of Use">
  {
    Astro.locals.isMainWebsite && (
      <Fragment slot="head">
        <meta name="description" content="Holy Unblocker's terms of use." />
      </Fragment>
    )
  }
  <main class="padded">
    <h1><HolyText text="Terms of Use" /></h1>
    <p>
      <HolyText
        text='By using this website and our proxy servers, mentioned below as "Holy Unblocker", "service", "we", "us" you agree to the following:'
      />
    </p>
    <h2><HolyText text="Accounts" /></h2>
    <p>
      <HolyText
        text="You must be at least 13 years old to create an account on Holy Unblocker. If you are found to be too young to use this service, we reserve the right to cancel your subscription and close your account."
      />
    </p>
    <h2><HolyText text="Disclaimer" /></h2>
    <p>
      <HolyText
        text='This service is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall we be held liable for any claim, damages, or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in the connection with the service or the use or other dealings in the service.'
      />
    </p>
    <p>
      <HolyText
        text="The information, services and products available to you on this website may contain errors and are subject to periods of interruption. While we do our best to maintain the information, services and products it offers, we can not be held responsible for any errors, defects, lost profits or other consequential damages arising from the use of the service, even if we have been advised of the possibility of such damages."
      />
    </p>
    <p>
      <HolyText
        text='The service allows indirect browsing of external, third-party websites. The term "indirect browsing" refers to the server which you connect to. During "direct" browsing, you connect to the server which provides the resource you are requesting. During "indirect" browsing, you connect to our server, and it downloads the requested resource and forwards it to you.'
      />
    </p>
    <p>
      <HolyText
        text="We are not responsible for the content on any external websites that may be accessible through our service. We will not be responsible for any contamination or damage a user sustains as a result of entering a website through the service. A website viewed through our service is in no way owned by or associated with this service."
      />
    </p>
    <p>
      <HolyText
        text="By connecting to our server instead of the target server, the target server does not see your IP address. However, we do not guarantee our service will be fully anonymous. The downloaded resource may reference other resources which your browser may automatically download. The service attempts to reroute all such requests through our server but may not be entirely successful."
      />
    </p>
    <p>
      <HolyText
        text="Any resource (such as web pages, images, files) downloaded through our service may be modified. The resource which you receive may not be an accurate representation of the resource requested."
      />
    </p>
    <h2><HolyText text="Legal use" /></h2>
    <p>
      <HolyText
        text="This service may only be used for legal purposes. Like an Internet Service Provider (ISP), barring any technical issues, this service allows the user to access any website on the Internet network. It is the responsibility of the end user to use the abilities this service grants in a manner that is consistent with locals laws and policies in effect at the user's personal location and laws and policies in effect at location of the website that user visits using this service. The users of this service, and not the owners and operators of this service, are responsible for any consequences stemming from any improper or illegal usage of the service."
      />
    </p>
    <p>
      <HolyText
        text="The service may not be used for any of the following forbidden uses:"
      />
    </p>
    <ul>
      <li>
        <HolyText
          text="For any illegal purpose including but not limited to the transmission or receipt of illegal material."
        />
      </li>
      <li>
        <HolyText
          text="To contact or communicate with minors in a manner prohibited by law."
        />
      </li>
      <li>
        <HolyText
          text="To violate copyrights or to break other forms of intellectual property law."
        />
      </li>
      <li>
        <HolyText
          text="To engage in spamming, indiscriminate advertising, unsolicited commercial email, mass news posts, or any other kind of abuse of the network."
        />
      </li>
      <li>
        <HolyText
          text="To transmit any unlawful, harassing, libellous, abusive, threatening, harmful, or hateful material of any kind or nature."
        />
      </li>
    </ul>
    <p>
      <HolyText
        text="We reserve the right to cooperate with appropriate law enforcement agencies about any activities conducted via this service that may violate any law enforceable in the jurisdiction under which the service is run."
      />
    </p>
    <h2><HolyText text="Abuse of the service" /></h2>
    <p>
      <HolyText
        text="Provided services operate with significant, but limited and expensive, resources, such as ram, processing power, and bandwidth. In using this service, you agree not to abuse the service by using an excessive number of these limited resources. Users or groups of users who are believed to be abusing the service by using excessive resources, are not welcome to use the service and their access may be blocked by the administrator."
      />
    </p>
    <p>
      <HolyText text="Examples of abusive use of resources are:" />
    </p>
    <ul>
      <li>
        <HolyText text="Automatically crawling pages using this service." />
      </li>
      <li>
        <HolyText
          text="Repeatedly requesting the same resources over and over again."
        />
      </li>
      <li>
        <HolyText
          text="Hotlinking to pages, images, or files provided by the service."
        />
      </li>
      <li>
        <HolyText
          text="Transferring excessively large files. Files larger than a specified size are automatically cut off."
        />
      </li>
      <li>
        <HolyText
          text="Feeding a robot, automatic process, or other non-human browser."
        />
      </li>
      <li>
        <HolyText
          text="Any other activity that would cause significantly larger amounts of load on our servers than an average user would normally cause to be used."
        />
      </li>
    </ul>
    <h2><HolyText text="Contact Information" /></h2>
    <p>
      <HolyText
        text="If you have any questions about our Terms of Use, please feel free to "
      />
      <HolyLink
        class={themeStyles.themeLink}
        href="/contact"
        text="Contact Us."
      />
    </p>
  </main>
</MainLayout>
