<script src="/baremux/index.js" is:inline defer></script>
<script src="/uv/uv.bundle.js" is:inline></script>
<script src="/uv/uv.config.js" is:inline></script>
<div id="wispServerThing" data-wisp-server={Astro.locals.wispServer}></div>
