<script src="/baremux/index.js" is:inline defer></script>
<script src="/uv/uv.bundle.js" is:inline></script>
<script src="/uv/uv.config.js" is:inline></script>
<div
  id="configThing"
  data-transport={Astro.locals.proxyTransport}
  data-bare={Astro.locals.bareServer}
  data-wisp={Astro.locals.wispServer}
>
</div>
