---
import "@styles/donator.scss";
import MainLayout from "@layouts/MainLayout.astro";
import ArrowBackIcon from "@icons/arrow_back_FILL0_wght400_GRAD0_opsz24.svg?react";
import Banner from "@components/Banner.astro";
import { db } from "@lib/db";
import {
  canSendEmail,
  generateVerificationSecret,
  sendChangeEmailVerification,
  validateEmail,
} from "@lib/util";

const { user, ip, acc } = Astro.locals;
if (await acc.isBanned()) return acc.toBan();
if (!user) return acc.toLogin();

let email: string | undefined;
let error: string | undefined;

if (Astro.request.method === "POST")
  try {
    const data = await Astro.request.formData();
    email = data.get("email")?.toString() || "";
    error = validateEmail(email) || (await canSendEmail(user, email, ip));

    if (!error) {
      const verificationSecret = generateVerificationSecret();

      await db.query(
        "UPDATE users SET new_email = $1, new_email_verification_secret = $2 WHERE id = $3;",
        [email, verificationSecret, user.id]
      );
      await sendChangeEmailVerification(user, email, verificationSecret);

      return acc.toVerifyNewEmail();
    }
  } catch (err) {
    // @ts-ignore
    if (err?.code === "P2002") {
      error = "Email already exists.";
      Astro.response.status = 400;
    } else {
      console.error("caught err:");
      console.error(err);
    }
  }
---

<MainLayout>
  <main>
    <h1 class="page-title sub">
      <a
        class="back-button"
        href="/donate/dashboard"
        set:html={ArrowBackIcon}
      />
      Change Email
    </h1>
    <Banner error={error} />
    <script>
      document.querySelector<HTMLInputElement>("[name='email']")!.focus();
    </script>
    <form class="change-form user" method="post">
      <label class="manage-field">
        <div>Current Email</div>
        <input type="text" class="prettyinput" value={user.email} readonly />
      </label>
      <label class="manage-field">
        <div>New Email</div>
        <input type="text" class="prettyinput" name="email" value={email} />
      </label>
      <input class="prettysubmit inline" type="submit" value="Change Email" />
    </form>
  </main>
</MainLayout>
