---
import TheatreCategory from "@components/TheatreCategory.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <Fragment slot="head">
    <title>Apps</title>
    <meta name="description" content="Find apps on Holy Unblocker." />
  </Fragment>
  <TheatreCategory
    name="App"
    category="apps"
    placeholder="Search by app name"
  />
</MainLayout>
