---
import styles from "@styles/TheatreCategory.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import ClientAPIs from "@components/ClientAPIs.astro";
import TheatreFavorites from "@components/TheatreFavorites.tsx";
---

<MainLayout>
  <Fragment slot="head">
    <title>Favorites</title>
  </Fragment>
  <main class={styles.main}>
    <section>
      <div class={styles.name}><h1>Favorites</h1></div>
      <TheatreFavorites client:only="preact" />
    </section>
  </main>
</MainLayout>
<ClientAPIs />
