---
import styles from "@styles/TheatreCategory.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import ClientAPIs from "@components/ClientAPIs.astro";
import TheatreFavorites from "@components/TheatreFavorites.tsx";
---

<MainLayout title="Favorites">
  <main class={styles.main}>
    <h1 class="page-title sub">Favorites</h1>
    <TheatreFavorites client:only="preact" />
  </main>
</MainLayout>
<ClientAPIs />
