---
import ClientAPIs from "@components/ClientAPIs.astro";
import TheatrePlayer from "@components/TheatrePlayer";
import MainLayout from "@layouts/MainLayout.astro";
import type { TheatreEntry } from "@lib/TheatreAPI";
import { dbEnabled, theatreAPI, theatreAPIMirror } from "@lib/theatre";

let mirrorError = false;

const id = Astro.url.searchParams.get("id");

let data: TheatreEntry | undefined;

if (id !== null) {
  if (dbEnabled) {
    data = await theatreAPI.show(id);
  } else
    try {
      data = await theatreAPIMirror.show(id);
    } catch (err) {
      mirrorError = true;
    }
}

if (mirrorError) {
  // refresh after 5 seconds
  Astro.response.headers.set("reload", "5");
  Astro.response.status = 500;
} else if (!data) Astro.response.status = 404;
---

<MainLayout>
  {
    mirrorError ? (
      <main>
        <p>An error occurred while trying to access the theatre API mirror.</p>
        <p>This page will refresh in 5 seconds.</p>
      </main>
    ) : data ? (
      <TheatrePlayer data={data} client:only="preact" />
    ) : (
      <main>
        <p>Invalid game ID</p>
      </main>
    )
  }
</MainLayout>
<ClientAPIs />
